$bg: #1e1e2f;
$dark: #0c0c10;
$break: #1c1b21;
$box: #27293d;
$brand: #3c63ef;
$brandFancy: linear-gradient(to bottom left,#4e7be1,#5494f5,#4e54e1)!important;
$linear: #005eff;
$text: #FFF;
$grey-main: #4D4D4D;
$text-alt: #828088;
$grey: #4A4754;
$grey-alt: #37353E;
$green: #2773ae;

$grid-breakpoints: (
        xs: 0,
        sm: 514px,
        md: 752px,
        lg: 1012px,
        xl: 1400px
) !default;

$container-max-widths: (
        sm: 480px,
        md: 716px,
        lg: 972px,
        xl: 1368px
) !default;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}